.Section {
	font-family: Georgia;
	font-size: 12px;
	color: #ff453d;
	font-weight: bold;
}

.mainHeadline {
  color: #4f4f4f;
  font-family: times;
  font-size: 27px;
  line-height: 32px;
  font-weight: normal;
}

.Excerpt {
color: #4f4f4f;
  font-family: sans-serif;
  -webkit-font-smoothing: 'antialiased';
  display: block
  font-size: 17px;
  line-height: 23px;
}
