






.mainHeadline {
  margin: 0;
  font-family: "proxima-nova",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #4f4f4f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -ms-font-smooting: antialiased;
}